<%- include('partials/site-header') -%>

     
<%- include('partials/site-menu') -%>
      <!-- about -->
      <div class="about">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="titlepage text_align_left">
                <h2><%= photo.name %></h2>
                <p><%= photo.description %></p>
                <a class="read_more" href="/users/<%= photo.user._id %>">Artist: <%= photo.user.username %></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about_img">
                <figure><img src="<%= photo.link %>" alt="<%= photo.name %>"/></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end about -->
      <%- include('partials/site-footer.ejs') -%>